#logo{
}

body{
    background-color: #ebeff5;
}

footer { 
	width:100%; 
	background-color:#263238; 
	min-height:250px; 
	padding:10px 0px 25px 0px ;
}

#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}
