{%  extends 'burgiApp/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Na pewno chcesz usunąć danie: "{{item}}"?</p>

			<form action="{% url 'delete_meal' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'menu' %}">Anuluj</a>

				<input class="btn btn-danger" type="submit" name="Confirm" value="Potwierdź">
			</form>
		</div>
	</div>
</div>

{% endblock %}
