{%  extends 'burgiApp/main.html' %}
{% block content %}
	<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
            	<p>Dodaj/aktualizuj danie:</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ mealForm.as_ul }}
                    <div class="row">
                        <div class="col">
                            <div class="card text-center text-white mt-3">
                                <input type="submit" class="btn btn-primary"
                                        name="SubmitMeal" value="Zatwierdź">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
         <div class="col-md">
            <div class="card card-body">
            	<p>Dodaj/aktualizuj napój:</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ drinkForm.as_ul }}
                    <div class="row">
                        <div class="col">
                            <div class="card text-center text-white mt-3">
                                <input type="submit" class="btn btn-primary"
                                        name="SubmitDrink" value="Zatwierdź">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>Dania</h5>
			</div>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>Nazwa</th>
						<th>Cena</th>
						<th>Aktualizuj</th>
						<th>Usuń</th>
					</tr>
					{% for meal in meals %}
						<tr>
							<td>{{meal.nazwa}}</td>
							<td>{{meal.cena}}</td>
							<td>
								<a class="btn btn-sm btn-info"
								href="{% url 'update_meal' meal.id %}">Aktualizuj</a>
                        	</td>
							<td>
								<a class="btn btn-sm btn-danger" 
								href="{% url 'delete_meal' meal.id %}">Usuń</a>
                        	</td>
						</tr>
					{% endfor %}
					
				</table>
			</div>
		</div>
		<div class="col-md">
			<div class="card card-body">
				<h5>Napoje</h5>
			</div>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>Nazwa</th>
						<th>Cena</th>
						<th>Aktualizuj</th>
						<th>Usuń</th>
					</tr>
					{% for drink in drinks %}
						<tr>
							<td>{{drink.nazwa}}</td>
							<td>{{drink.cena}}</td>
							<td>
								<a class="btn btn-sm btn-info" 
								href="{% url 'update_menu_drink' drink.id %}">Aktualizuj</a>
                        	</td>
							<td>
								<a class="btn btn-sm btn-danger" 
								href="{% url 'delete_drink' drink.id %}">Usuń</a>
                        	</td>
						</tr>
					{% endfor %}
					
				</table>
			</div>
		</div>
	</div>
{% endblock content %}