{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <!-- <img src="{% static 'images/logo.jpg' %}" width="50" height="50"> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Panel główny</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'orders' %}">Zamówienia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'supplies' %}">Magazyn</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Ustawienia</a>
      </li>
    {% endif %}
    </ul>
  </div>

  <span class="hello-msg" >Witaj {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'home' %}">Wyloguj</a></span>

</nav>