{%  extends 'burgiApp/main.html' %}

{% block content %}

{%  include 'burgiApp/status.html' %}

<script type="text/javascript">

    function orderTypeChanged(selectedOrderType)
    {
        if(selectedOrderType == "Na wynos")
        {
            document.getElementById("id_numer_stolika").value = 0;
        }
        else if(selectedOrderType == "Na miejscu")
        {
            document.getElementById("id_numer_stolika").value = 1;
        }
    }

    function addProduct(selectedItem)
    {
        var selectedItemText = selectedItem.parentNode.textContent;
        var selectedItemId = selectedItemText.replace(/\s/g, "-");

        if(selectedItem.checked)
        {
            var options = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"];
            var selectNode = document.createElement("select");
            selectNode.setAttribute("id", selectedItemId + "-select");
            selectNode.setAttribute("name", "ilosc")
            selectNode.setAttribute("onchange", "updatePrice()");

            for(var i=0; i<10; i++)
            {
                var optionElement = document.createElement("option");
                var option = options[i];
                optionElement.textContent = option;
                optionElement.value = option;
                selectNode.appendChild(optionElement);
            }

            var ul = document.getElementById("selectedProducts");
            var li = document.createElement("li");
            li.setAttribute("id",selectedItemId);
            var liContent = document.createTextNode(selectedItemText + ", ilość: ");
            li.appendChild(liContent);
            li.appendChild(selectNode);
            ul.appendChild(li);
        }
        else
        {
            var ul = document.getElementById("selectedProducts");
            var childToRemove = document.getElementById(selectedItemId);
            ul.removeChild(childToRemove);
        }

        updatePrice();
    }

    function updatePrice()
    {
        var sum = 0.0;
        var selectedProducts = document.getElementById("selectedProducts").children;

        for(var i=0; i<selectedProducts.length; i++)
        {
            var itemText = selectedProducts[i].textContent;
            var selectID = selectedProducts[i].id + "-select";
            var array = itemText.split(" ");
            var itemPrice = parseFloat(array[array.length - 4]);
            var multiplayer = parseFloat(document.getElementById(selectID).value);
            sum += itemPrice * multiplayer;
        }

        var discount = parseFloat(document.getElementById("id_rabat").value);
        sum -= sum*discount/100;

        document.getElementById("id_suma").value = sum;
    }

</script>

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <table>
                                <tr>
                                    <th>
                                        <p>Typ zamówienia: {{form.typ_zamowienia}}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th><p>Numer stolika: {{form.numer_stolika}}</p></th>
                                </tr>
                                <tr>
                                    <th><p>Notatka: {{form.notatka}}</p></th>
                                </tr>
                                <tr>
                                    <th><p>Status: {{form.status}}</p></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md">
                            <table>
                                <tr>
                                    <th><p>Dania: {{form.dania}}</p></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md">
                            <table>
                                <tr>
                                    <th><p>Napoje: {{form.napoje}}</p></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md">
                            <table>
                                <tr>
                                    <th>
                                        <hr>
                                        Zamówienie:
                                        <ul id="selectedProducts">

                                        </ul>
                                        <hr>
                                    </th>
                                </tr>
                                <tr>
                                    <th><p>Rabat: {{form.rabat}} %</p></th>
                                </tr>
                                <tr>
                                    <th><p>Cena: {{form.suma}} zł</p></th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="card text-center text-white mt-3">
                                <input type="submit" class="btn btn-primary"
                                        name="Submit" value="Zatwierdź">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <form method="get">
            <table>
                <tr>
                    <th>
                      <p>Typ zamówienia: {{filter.form.typ_zamowienia}}</p>
                    </th>
                    <th>
                      <p>Rabat: {{filter.form.rabat}}</p>
                    </th>
                    <th>
                      <input type="submit" class="btn btn-primary"
                            name="filterBtn" value="Szukaj">
                    </th>
                </tr>
            </table>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
		<hr>
		<div class="rowcard card-body">
			<table class="table table-sm">
				<tr>
                    <th>Numer zamówienia</th>
                    <th>Typ zamówienia</th>
                    <th>Numer stolika</th>
                    <th>Zamówienie</th>
                    <th>Czas złożenia zamówienia</th>
                    <th>Notatka</th>
                    <th>Rabat</th>
                    <th>Suma</th>
					<th>Status</th>
					<th>Aktualizuj</th>
                    <th>Usuń</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.id}}</td>
                        <td>{{order.typ_zamowienia}}</td>
                        <td>{{order.numer_stolika}}</td>
                        <td>
                            <ul>
                                {% for danie in order.dania.all %}
                                    <li>{{danie}} </li>
                                {% endfor %}
                                {% for napoj in order.napoje.all %}
                                    <li>{{napoj}} </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{order.data_zamowienia}}</td>
                        <td>{{order.notatka}}</td>
                        <td>{{order.rabat}}%</td>
                        <td>{{order.suma}} zł</td>
						<td>{{order.status}}</td>
						<td>
                            <a class="btn btn-sm btn-info"
                               href="{% url 'update_order' order.id %}">Aktualizuj</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'delete_order' order.id %}">Usuń</a>
                        </td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

{% endblock content %}
