  
<h3>Podaj nowe hasło</h3>

<p>Podaj nowe hasło dwukrotnie by potwierdzić jego poprawność.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
	
</form>