{%  extends 'burgiApp/main.html' %}
{% block content %}
	<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
            	<p>Dodaj/aktualizuj składnik:</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ ingredientForm.as_ul }}
                    <div class="row">
                        <div class="col">
                            <div class="card text-center text-white mt-3">
                                <input type="submit" class="btn btn-primary"
                                        name="SubmitIngredient" value="Zatwierdź">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body">
            	<p>Dodaj/aktualizuj napój:</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ drinkForm.as_ul }}
                    <div class="row">
                        <div class="col">
                            <div class="card text-center text-white mt-3">
                                <input type="submit" class="btn btn-primary"
                                        name="SubmitDrink" value="Zatwierdź">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>Składniki</h5>
			</div>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>Nazwa</th>
						<th>Cena hurtowa</th>
						<th>Ilość w magazynie</th>
						<th>Jednostka</th>
						<th>Aktualizuj</th>
						<th>Usuń</th>
					</tr>
					{% for ingredient in ingredients %}
						<tr>
							<td>{{ingredient.nazwa}}</td>
							<td>{{ingredient.cena_hurtowa}}</td>
							<td>{{ingredient.ilosc}}</td>
							<td>{{ingredient.jednostka}}</td>
							<td>
								<a class="btn btn-sm btn-info" 
								href="{% url 'update_ingredient' ingredient.id %}">Aktualizuj</a>
                        	</td>
							<td>
								<a class="btn btn-sm btn-danger" 
								href="{% url 'delete_ingredient' ingredient.id %}">Usuń</a>
                        	</td>
						</tr>
					{% endfor %}
					
				</table>
			</div>
		</div>
		<div class="col-md">
			<div class="card card-body">
				<h5>Napoje</h5>
			</div>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>Nazwa</th>
						<th>Cena</th>
						<th>Ilość w magazynie</th>
						<th>Aktualizuj</th>
						<th>Usuń</th>
					</tr>
					{% for drink in drinks %}
						<tr>
							<td>{{drink.nazwa}}</td>
							<td>{{drink.cena}}</td>
							<td>{{drink.ilosc}}</td>
							<td>
								<a class="btn btn-sm btn-info" 
								href="{% url 'update_supply_drink' drink.id %}">Aktualizuj</a>
                        	</td>
							<td>
								<a class="btn btn-sm btn-danger" 
								href="{% url 'delete_drink' drink.id %}">Usuń</a>
                        	</td>
						</tr>
					{% endfor %}
					
				</table>
			</div>
		</div>
	</div>
{% endblock content %}